<div class="row mt-1 mb-1">
  <mat-toolbar class="col-md-12 mat-elevation-z4" style="align-content: center; background-color: #e3e3e3;">
    <h2 style="margin-left: 1em;">Techno Brain BPO</h2>
    <span class="spacer"></span>
    <button routerLink="/reports" mat-raised-button>View Reports</button>
  </mat-toolbar>
</div>
<div class="container">
	<div class="row">
		<mat-toolbar class="col-md-12 mat-elevation-z3" style="background-color: #ffffff; margin-bottom: 4px;">
			<h4> Clients</h4>
			<span class="spacer"></span>
			<mat-chip-list>
			  <mat-chip (click)="openClientDialog()" style="background-color: #d7d652;">
			  	<mat-icon>add</mat-icon> Add new Client
			  </mat-chip>
			</mat-chip-list>
		</mat-toolbar>
	</div>
		
	<div class="row">
		<mat-card *ngFor="let item of new_calls_list" class="col-md-6">
			New Calls
			<mat-list role="list">
			  <mat-list-item role="listitem">
			  	<span> {{item.phone}}</span> &nbsp;&nbsp;
			  	<smal>{{item.name}}</smal>
			  	<!-- <span class="spacer"></span> -->
			  	<span class="spacer"></span>
			  	<button mat-button routerLink="/call/{{item.id}}">Call <mat-icon>call</mat-icon></button>
			  </mat-list-item>
			</mat-list>
		</mat-card>
		<mat-card *ngFor="let item of call_backs_list" class="col-md-6">
			Call Back
			<mat-list role="list">
				<mat-list-item role="listitem">
					<span> {{item.phone}}</span> &nbsp;&nbsp;
					<smal>{{item.name}}</smal>
					<!-- <span class="spacer"></span> -->
					<span class="spacer"></span>
					<button mat-button routerLink="/call/{{item.id}}">Call <mat-icon>call</mat-icon></button>
				</mat-list-item>
			</mat-list>
		</mat-card>
	</div>
</div>