        <div class="row mb-1 mt-1">
          <mat-toolbar class="col-md-12 mat-elevation-z4" style="align-content: center; background-color: #e3e3e3;">
            <h2 style="margin-left: 1em;">Techno Brain BPO</h2>
            <span class="spacer"></span>
            <button routerLink="/landing" mat-raised-button>Back to Dashboard</button>
          </mat-toolbar>
        </div>

      <main class="container">
        <mat-toolbar color="primary">
          <h2>ABC Telesales Call Script </h2>
        </mat-toolbar>
		
		<mat-card *ngIf="check_available">
			Connecting...<br>
			<br>
			<small>Call connected ? </small>
			<button 
				(click)="confirmAvailable()" 
				mat-raised-button
				style="background-color: lightgreen">
				Yes</button>
			<button 
				(click)="notAvailable()"
				mat-raised-button
				style="background-color: #f54d38">
			No</button>
			<br>
			<br>
			<div *ngIf="not_available" style="align-content: center;">
				<div class="row">
					<div class="col-md-9 offset-1">
						Call Availability
						<br>
						<mat-radio-group [(ngModel)]="new_script.dispose" name="dispose">
			                <mat-radio-button (click)="callBackLater()" value="Phone Switched off">Phone Switched off</mat-radio-button><br>
			                <mat-radio-button (click)="callBackLater()" value="No Answer">No Answer</mat-radio-button><br>
			                <mat-radio-button (click)="callBackLater()" value="Phone Busy">Phone Busy</mat-radio-button><br>
			                <mat-radio-button (click)="callBackLater()" value="Silent Call">Silent Call</mat-radio-button><br>
			                <mat-radio-button (click)="callBackLater()" value="Voice mail">Voice mail</mat-radio-button><br>
			                <mat-radio-button (click)="completeCall()" value="Number out of service">Number out of service</mat-radio-button><br>
			                <mat-radio-button (click)="completeCall()" value="Invalid">Invalid</mat-radio-button><br>
		              </mat-radio-group>
		              <button 
		              	mat-raised-button 
		              	routerLink="/landing"
		              	(click)="postScript()"
		              	style="background-color: lightgreen">
		              Submit</button>
					</div>
				</div>
			</div>
		</mat-card>

        <mat-card *ngIf="available">
            <mat-horizontal-stepper #stepper>
              <ng-template matStepperIcon="edit">
                <mat-icon>check</mat-icon>
              </ng-template>
            <mat-step editable="false">   
            <!-- Q1   -->
            <!-- step 0 -->
              Hello, Good Morning/afternoon/evening. My Name is <b>Cynthia</b> Calling you from ABC, could I speak to Mr./Mrs/Ms./Dr./Prof. <b>{{client_details?.name}}</b> 
              <br>
              <div>
                <mat-radio-group [(ngModel)]="new_script.q1" name="q1">
                  <mat-radio-button value="YES" (click)="move(2)">YES</mat-radio-button><br>
                  <mat-radio-button value="NO" (click)="move(1)">NO</mat-radio-button><br>
                </mat-radio-group>
              </div>

              <!-- <div class="mt-2 float-right">
              	<mat-card style="background-color: #e3e3e3;">
					If not Available
					<button 
						mat-raised-button 
						routerLink="/landing"
						(click)="callBackLater();">
					Call Back Later</button>
              	</mat-card>
              </div> -->
              </mat-step>
            <mat-step editable="false">
              <!-- Q2 -->
            <!-- step 1 -->
             Can I talk to Mr./Mrs/Ms./Dr./Prof. <b>{{client_details?.name}}</b> at some other date and time?
                  <br>
                  <mat-radio-group [(ngModel)]="new_script.q2" name="q2">
                    <mat-radio-button value="YES" (click)="getTime()">YES</mat-radio-button><br>
                    <!-- <mat-radio-button value="NO" (click)="move(13)">NO</mat-radio-button><br> -->
                    <mat-radio-button value="NO" (click)="DisposeQ2()">NO</mat-radio-button><br>
                  </mat-radio-group>
                  
                  <div *ngIf="gettime">
					<form class="row">
					  <mat-form-field class="col-md-6">
					    <input matInput [matDatepicker]="picker" placeholder="Choose a date" [(ngModel)]="new_script.datetocall" name="datetocall">
					      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
					    <mat-datepicker #picker></mat-datepicker>
					  </mat-form-field>
					  <div class="col-md-6">
						Time:  <input type="time" atp-time-picker [(ngModel)]="new_script.timetocall" name="timetocall"/>
					  </div>
					  <br>
					</form>
					<button mat-raised-button (click)="callBackLater();move(12)" style="background-color: lightgreen;">Proceed</button>
                  </div>

                  <div *ngIf="disposeQ2">
	              	<mat-card style="background-color: #e3e3e3;">
	              		<small>Dispose</small><br>
						<mat-radio-group [(ngModel)]="new_script.dispose" name="dispose">
			                <mat-radio-button value="Number doesn’t belongs to the customer">Number doesn’t belongs to the customer </mat-radio-button><br>
			                <mat-radio-button value="Not interested">Not interested </mat-radio-button><br>
			            </mat-radio-group>
						<button
							mat-raised-button 
							(click)="completeCall();postScript();"
							style="background-color: #f54d38;"
			              	routerLink="/landing">
			              	End Call 
              				<mat-icon>call</mat-icon>
              			</button>
	              	</mat-card>
	              </div>
            </mat-step>
            <mat-step editable="false">
              <!-- Q3 -->
              <!-- step 2 -->
               Its about ABC and the benefits your company can acquire from us working together. Which is offering a solution that will significantly reduce your IT infrastructure costs while ensuring reliability and enhanced security through the services we offer. Are you interested? 
              <br>
              <mat-radio-group [(ngModel)]="new_script.q3" name="q3">
                <mat-radio-button value="YES" (click)="move(3)">YES</mat-radio-button><br>
                <mat-radio-button value="NO" (click)="DisposeQ3()">NO</mat-radio-button><br>
              </mat-radio-group>

              <div *ngIf="disposeQ3">
              	<mat-card style="background-color: #e3e3e3;">
              		<small>Dispose</small><br>
					<mat-radio-group [(ngModel)]="new_script.dispose" name="dispose">
		                <mat-radio-button value="Call Back" (click)="getTimeQ3()">Call Back</mat-radio-button><br>
		                <mat-radio-button value="Not interested" (click)="notIntQ3()">Not interested </mat-radio-button><br>
		            </mat-radio-group>
	              <div *ngIf="gettimeQ3">
					<form class="row">
					  <mat-form-field class="col-md-6">
					    <input matInput [matDatepicker]="picker" placeholder="Choose a date" [(ngModel)]="new_script.datetocall" name="datetocall">
					      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
					    <mat-datepicker #picker></mat-datepicker>
					  </mat-form-field>
					  <div class="col-md-6">
						Time:  <input type="time" atp-time-picker [(ngModel)]="new_script.timetocall" name="timetocall"/>
					  </div>
					  <br>
					</form>
	                  <button
							mat-raised-button 
							(click)="callBackLater();move(12)"
							style="background-color: lightgreen;">
			              	Proceed 
	          		  </button>
                  </div>
					<button
                  		*ngIf="not_intQ3"
						mat-raised-button 
						(click)="completeCall();move(12);"
		              	style="background-color: lightgreen;">
			            Proceed 
          			</button>
              	</mat-card>
              </div>
            </mat-step>
            <mat-step editable="false">
              <!-- Q4 -->
              <!-- step 3 -->
              <b>Thank you <b>{{client_details?.name}}</b>, Have you heard about ABC?</b>
              <br>
              <mat-radio-group [(ngModel)]="new_script.q4" name="q4">
                <mat-radio-button value="YES" (click)="move(4)">YES</mat-radio-button><br>
                <mat-radio-button value="NO" (click)="move(4)">NO</mat-radio-button><br>
              </mat-radio-group>
              <br>
              ABC is a backup service provider that offers you affordable & secure backup solutions. It also offers leased server services so customers don’t have to invest in physical servers in their offices which are managed by ABC, 24/ 7 
            </mat-step>
            <mat-step editable="false">
              <!-- Q5 -->
              <!-- step 4 -->
              What's your take on these ABC Services? 
              <br>
             <mat-radio-group [(ngModel)]="new_script.q5" name="q5">
                <mat-radio-button value="Excellent" (click)="move(5)">Excellent</mat-radio-button><br>
                <mat-radio-button value="Good" (click)="move(5)">Good</mat-radio-button><br>
                <mat-radio-button value="Bad" (click)="Poor()">Bad</mat-radio-button><br>
                <mat-radio-button value="Poor" (click)="Poor()">Poor</mat-radio-button><br>
              </mat-radio-group>
              <div *ngIf="poor">
                Can we continue? (if Bad or Poor)
                <button mat-raised-button (click)="move(5)" value="YES" style="background-color: lightgreen;">YES</button>
                <button mat-raised-button (click)="DisposeQ5()" value="NO" style="background-color: red;">NO</button>

                  <div *ngIf="disposeQ5">
	              	<mat-card style="background-color: #e3e3e3;">
	              		<small>Dispose</small><br>
						<mat-radio-group [(ngModel)]="new_script.dispose" name="dispose">
			                <mat-radio-button value="Not interested" (click)="notIntQ5()">Not interested </mat-radio-button><br>
			            </mat-radio-group>
						<button
							*ngIf="not_intQ5"
							mat-raised-button 
							(click)="completeCall();move(12);"
			              	style="background-color: lightgreen;">
				            Proceed 
              			</button>
	              	</mat-card>
	              </div>
              </div>
            </mat-step>
            <mat-step editable="false">
              <!-- Q6 -->
              <!-- step 5 -->
              So I believe securing your business information is extremely critical. How do you back up your business data?
              <br>
              What systems do you currently use?
              <br>
              <mat-radio-group [(ngModel)]="new_script.q6" name="q6">
                <mat-radio-button value="Physical drives" (click)="move(6)">Physical drives </mat-radio-button><br>
                <mat-radio-button value="Cloud" (click)="move(6)">Cloud</mat-radio-button><br>
                <mat-radio-button value="Other" (click)="otherOptions()">Other</mat-radio-button><br>
              </mat-radio-group>
              <form *ngIf="showName">
                <mat-form-field style="width: 100%;">
                  <textarea matInput placeholder="systems you currently use" [(ngModel)]="new_script.othersystems" name="othersystems"></textarea>
                </mat-form-field>
                <button mat-raised-button (click)="move(6)" style="background-color: lightgreen;">Proceed</button>
              </form>
            </mat-step>
            <mat-step editable="false">
              <!-- Q7 -->
              <!-- step 6 -->
              With that <b>Mr./Mrs/Ms./Dr./Prof. {{client_details?.name}}</b>, you do agree that your business data is extremely important for your business & needs back up?
              <br>
              <mat-radio-group [(ngModel)]="new_script.q7" name="q7">
                <mat-radio-button value="Agree" (click)="move(7)">Agree</mat-radio-button><br>
                <mat-radio-button value="Disagree" (click)="move(7)">Disagree</mat-radio-button><br>
              </mat-radio-group>
            </mat-step>

            <mat-step editable=false>
            	<!-- Q8 -->
            	<!-- step 7 -->
				Ok. And you do agree that ensuring that, it’s backed up automatically in a secure, off site location gives you a piece of mind that your business info is safe?
            	<br>
	              <mat-radio-group [(ngModel)]="new_script.q8" name="q8">
	                <mat-radio-button value="Agree" (click)="move(8)">Agree</mat-radio-button><br>
	                <mat-radio-button value="Disagree" (click)="move(8)">Disagree</mat-radio-button><br>
	              </mat-radio-group>
            </mat-step>
            
            <mat-step editable="false">
              <!-- Q9 -->
              <!-- step 8 -->
              You also agree that that our service is very affordable, right?
              <br>
              <mat-radio-group [(ngModel)]="new_script.q9" name="q9">
                <mat-radio-button value="Agree" (click)="move(9)">Agree</mat-radio-button><br>
                <mat-radio-button value="Disagree" (click)="move(9)">Disagree</mat-radio-button><br>
              </mat-radio-group>
            </mat-step>
            <mat-step editable="false">
              <!-- Q10 -->
              <!-- step 11 -->
              Fantastic. If you’d so kind as to giving us an appropriate time in the week one of our business executives will come over to discuss the solution in detail. 
              <br>
              <mat-radio-group [(ngModel)]="new_script.q10" name="q10">
                <mat-radio-button value="YES" (click)="VisitDay()">YES</mat-radio-button><br>
                <mat-radio-button value="NO" (click)="DisposeQ10()">NO</mat-radio-button><br>
              </mat-radio-group>

              <div *ngIf="visitDay">
				<form class="row">
				  <mat-form-field class="col-md-6">
				    <input matInput [matDatepicker]="picker" placeholder="Choose a date" [(ngModel)]="new_script.visitdate" name="visitdate">
				      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
				    <mat-datepicker #picker></mat-datepicker>
				  </mat-form-field>
				  <div class="col-md-6">
					Time:  <input type="time" atp-time-picker [(ngModel)]="new_script.visittime" name="visittime"/>
				  </div>
				  <br>
				</form>
				<button mat-raised-button (click)="move(10)" style="background-color: lightgreen;">Proceed</button>
              </div>

			  <div *ngIf="disposeQ10">
              	<mat-card style="background-color: #e3e3e3;">
              		<small>Dispose</small><br>
					<mat-radio-group [(ngModel)]="new_script.dispose" name="dispose">
		                <mat-radio-button value="Call Back" (click)="getTimeQ10()">Call Back</mat-radio-button><br>
		                <mat-radio-button value="Not interested" (click)="notIntQ10()">Not interested </mat-radio-button><br>
		            </mat-radio-group>
	              <div *ngIf="gettimeQ10">
					<form class="row">
					  <mat-form-field class="col-md-6">
					    <input matInput [matDatepicker]="picker" placeholder="Choose a date" [(ngModel)]="new_script.datetocall" name="datetocall">
					      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
					    <mat-datepicker #picker></mat-datepicker>
					  </mat-form-field>
					  <div class="col-md-6">
						Time:  <input type="time" atp-time-picker [(ngModel)]="new_script.timetocall" name="timetocall"/>
					  </div>
					  <br>
					</form>
					<button
						mat-raised-button 
						(click)="callBackLater();move(12)"
						style="background-color: lightgreen;">
		              	Proceed 
	          		</button>
                  </div>
					<button
						*ngIf="not_intQ10"
						mat-raised-button 
						(click)="completeCall();move(12);"
						style="background-color: lightgreen;">
		              	Proceed 
          			</button>
              	</mat-card>
              </div>

            </mat-step>
            <mat-step editable="false">
              <!-- Q11-->
              <!-- step 10 -->
              Kindly assist us with your email address to sent an appointment invite whereby one of our representatives will visit you and take you through the process of registration / set up and get you ready for the services. 
              <br>
              <br>
              <form>
                <mat-form-field style="width: 100%;">
                  <input matInput placeholder="Confirm email address" [(ngModel)]="client_email" name="client_email">
                </mat-form-field>
              </form>
                <button mat-raised-button (click)="move(11)" style="background-color: lightgreen;">Proceed</button>
            </mat-step>
            <mat-step editable="false">
              <!-- Q12 -->
              <!-- step 11 -->
              Is there any question you would like me to address with regards to our Services / or any clarification on the information I have given you? 
              <br>
              <mat-radio-group>
                <mat-radio-button value="YES" (click)="haveQuestion()">YES</mat-radio-button><br>
              </mat-radio-group>
              <mat-radio-group [(ngModel)]="new_script.q12" name="q12">
                <mat-radio-button value="NO" (click)="completeCall();move(12)">NO</mat-radio-button><br>
              </mat-radio-group>
              <form *ngIf="question">
                <mat-form-field style="width: 100%;">
                  <textarea matInput placeholder="The question asked..." [(ngModel)]="new_script.q12" name="q12" ></textarea>
                </mat-form-field>
                <button mat-raised-button (click)="completeCall();move(12)" style="background-color: lightgreen;">Proceed</button>
              </form>
            </mat-step>
            <mat-step editable="false" label="Es">
				<!-- escalation? -->
              	<!-- step 12 -->
				Is this call an escalation?
				<br>
                <mat-radio-group [(ngModel)]="new_script.escalation" name="escalation">
                  <mat-radio-button value="YES" (click)="Escalation();">YES</mat-radio-button><br>
                  <mat-radio-button value="NO" (click)="move(13)">NO</mat-radio-button><br>
                </mat-radio-group>
                <form *ngIf="escalation">
                		<small>Email address:</small><span>{{client_details.email}}</span><br>
	                	<small>Phone number: </small><span>{{client_details.phone}}</span><br>
               <!--  <mat-form-field style="width: 48%;">
                  <input matInput placeholder="Email address" [(ngModel)]="new_script.q11" name="q11" >
                </mat-form-field>
                <mat-form-field style="width: 48%;">
                  <input matInput placeholder="Phone number" [(ngModel)]="new_script.q11" name="q11" >
                </mat-form-field> -->
                <button mat-raised-button (click)="move(13)" style="background-color: lightgreen;">Proceed</button>
              </form>
            </mat-step>
            <!-- <mat-step editable="false">
              Dispose
              step 13
              <mat-radio-group [(ngModel)]="new_script.dispose" name="dispose">
                <mat-radio-button value="Phone Switched off">Phone Switched off</mat-radio-button><br>
                <mat-radio-button value="No Answer">No Answer</mat-radio-button><br>
                <mat-radio-button value="Phone Busy">Phone Busy</mat-radio-button><br>
                <mat-radio-button value="Silent Call">Silent Call</mat-radio-button><br>
                <mat-radio-button value="Number out of service">Number out of service</mat-radio-button><br>
                <mat-radio-button value="Invalid">Invalid</mat-radio-button><br>
                <mat-radio-button value="Voice mail">Voice mail</mat-radio-button><br>
              </mat-radio-group>
              <br>
              <button
              	mat-raised-button 
              	(click)="postScript();stepper.reset();" 
              	style="background-color: #f54d38;"
				routerLink="/landing">
              End Call<mat-icon>call</mat-icon></button> 
            </mat-step> -->
            <mat-step editable="false">
              <!-- END OF CALL -->
              <!-- step 13 -->
              Well <b>{{client_details?.name}}</b>, thank you for your time, it's been a pleasure talking to you. 
              If you have any further clarifications , feel free to contact our website www.angani.co or phone number 020 – 5230028. 

              Have a good day. Good bye. 
              <br>
              <button 
              	mat-raised-button 
              	(click)="postScript();stepper.reset();" 
              	style="background-color: #f54d38;"
              	routerLink="/landing">
              	End Call 
              	<mat-icon>call</mat-icon>
          	  </button> 
            </mat-step>
          </mat-horizontal-stepper>
        </mat-card>

        <!-- <mat-card class="mt-1">
          <div>
            <button mat-raised-button (click)="getCsvs();" style="background-color: lightgreen;"> Generate Report</button>
          </div>
        </mat-card> -->
      </main>