<div class="container">
	<mat-toolbar>New Client</mat-toolbar>
	<form>
		<mat-form-field  style="width: 100%;">
			<input matInput placeholder="Client's Name" [(ngModel)]="new_client.name" name="name">
		</mat-form-field>
		<mat-form-field  style="width: 100%;">
			<input matInput placeholder="Email address" [(ngModel)]="new_client.email" name="email">
		</mat-form-field>
		<mat-form-field  style="width: 100%;">
			<input matInput placeholder="Phone number" [(ngModel)]="new_client.phone" name="phone">
		</mat-form-field>
		<div>
        	<button mat-raised-button style="background-color: #d7d652;" (click)="newClient()"> Save </button>
        	<button mat-raised-button style="background-color: #d7d652;" (click)="onNoClick()"> Close </button>
		</div>
	</form>
</div>